/* src/components/Dashboard.css */
.dashboard {
    flex: 1;
    padding: 20px;
    /* width: 100%; */
    background-color: #fff;
    color: black;
  }
  
  header h1 {
    font-size: 2rem;
    margin-bottom: 20px;
  }
  
  .status {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .status p {
    margin-right: 10px;
  }
  
  .status-indicator {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .active{
    
    background-color: green;
  }
  .inactive{

    background-color: red;
  }


  .data-cards {
    display: flex;
    gap: 20px;
    height: 100px;
  }
  